<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
      <ul class="nav navbar-nav col-xs-12">
        <li class="{{#isGetStartedPage}}active{{/isGetStartedPage}} col-xs-4"><a href="/get-started" class="btn btn-default navbar-btn">Create a Tearsheet</a></li>
        <li class="col-xs-4 text-center"><h1>Tearsheets.io</h1></li>
        <li class="col-xs-4 text-right"><button type="button" class="btn btn-default navbar-btn not-signed-in" data-toggle="modal" href="#signInModal">Sign In</button>
        <li class="col-xs-4 text-right">
          <div class="signed-in dropdown open">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Example Name
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <a class="dropdown-item" href="{{#isProfilePage}}active{{/isProfilePage}}">Edit Profile</a>
              <a class="dropdown-item" href="#">Sign Out</a>
            </div>
          </div>
      </ul>
    </div>
    </div>
</nav>
<div id="signInModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <link rel='stylesheet' type='text/css' href='https://static.ctctcdn.com/h/contacts-embedded-signup-assets/1.0.2/css/signup-form.css'>
                    <div class="ctct-embed-signup" style="line-height: 1.5; -webkit-font-smoothing: antialiased;">
                        <div style="color:#5b5b5b; background-color:#fffff; border-radius:5px;">
                            <form data-id="embedded_signup:form" class="ctct-custom-form Form" id="form-modal" name="embedded_signup" method="POST" action="https://visitor2.constantcontact.com/api/signup">
                                <input data-id="ca:input" type="hidden" name="ca" value="5aaa847b-1359-413a-af75-c20c1fdccf60">
                                <input data-id="list:input" type="hidden" name="list" value="1665840832">
                                <input data-id="source:input" type="hidden" name="source" value="EFD">
                                <input data-id="required:input" type="hidden" name="required" value="list,email">
                                <input data-id="url:input" type="hidden" name="url" value="">
                                <p data-id="Email Address:p">
                                    <input class="form-control" data-id="Email Address:input" type="text" name="email" placeholder="email address" maxlength="80">
                                </p>
                                <p data-id="Password:p">
                                    <input class="form-control" data-id="Password:input" type="password" name="password" placeholder="password" maxlength="30">
                                </p>
                                <button type="submit" class="Button ctct-button Button--block Button-secondary" id="button-subscribe" data-enabled="enabled">Sign in</button></li>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <script type='text/javascript'>
                            var localizedErrMap = {};
                      localizedErrMap['required'] = 'This field is required.';
                      localizedErrMap['ca'] = 'An unexpected error occurred while attempting to send email.';
                      localizedErrMap['email'] = 'Please enter your email address in name@email.com format.';
                      localizedErrMap['birthday'] = 'Please enter birthday in MM/DD format.';
                      localizedErrMap['anniversary'] = 'Please enter anniversary in MM/DD/YYYY format.';
                      localizedErrMap['custom_date'] = 'Please enter this date in MM/DD/YYYY format.';
                      localizedErrMap['list'] = 'Please select at least one email list.';
                      localizedErrMap['generic'] = 'This field is invalid.';
                      localizedErrMap['shared'] = 'Sorry, we could not complete your sign-up. Please contact us to resolve this.';
                      localizedErrMap['state_mismatch'] = 'Mismatched State/Province and Country.';
                      localizedErrMap['state_province'] = 'Select a state/province';
                      localizedErrMap['selectcountry'] = 'Select a country';
                      var postURL = 'https://visitor2.constantcontact.com/api/signup';

              </script>