<div class="container-fluid">
    <div class="container">
        <h2 class="text-center">1. Files</h2>
        <button class="btn btn-default">Download a sample file</button>
        <div class="dragdrop hidden-xs col-sm-12">
            <p>Drag and Drop your tearsheets here or click to open from your desktop</p>
        </div>
    </div>
    <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <button class="btn btn-default col-xs-12">Free</button>
                    <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. 
                    Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                    </p>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <button class="btn btn-default col-xs-12">Basic</button>
                    <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. 
                    Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                    </p>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <button class="btn btn-default col-xs-12">Professional</button>
                    <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. 
                    Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-push-1 col-xs-2">
                    <img src="http://d26uhratvi024l.cloudfront.net/gsc/4CTG6V/29/4f/f5/294ff59c38794ab0b18de932927396d8/images/signed_in/u56.png?token=d75d0f177731f146bbdb0dbf08938b68">
                </div>
                <div class="col-xs-push-1 col-xs-2">
                    <img src="http://d26uhratvi024l.cloudfront.net/gsc/4CTG6V/29/4f/f5/294ff59c38794ab0b18de932927396d8/images/signed_in/u56.png?token=d75d0f177731f146bbdb0dbf08938b68">
                </div>
                <div class="col-xs-push-1 col-xs-2">
                    <img src="http://d26uhratvi024l.cloudfront.net/gsc/4CTG6V/29/4f/f5/294ff59c38794ab0b18de932927396d8/images/signed_in/u56.png?token=d75d0f177731f146bbdb0dbf08938b68">
                </div>
                <div class="col-xs-push-1 col-xs-2">
                    <img src="http://d26uhratvi024l.cloudfront.net/gsc/4CTG6V/29/4f/f5/294ff59c38794ab0b18de932927396d8/images/signed_in/u56.png?token=d75d0f177731f146bbdb0dbf08938b68">
                </div>
                <div class="col-xs-push-1 col-xs-2">
                    <img src="http://d26uhratvi024l.cloudfront.net/gsc/4CTG6V/29/4f/f5/294ff59c38794ab0b18de932927396d8/images/signed_in/u56.png?token=d75d0f177731f146bbdb0dbf08938b68">
                </div>
            </div>
        <div class="not-logged-on-basic col-sm-push-2 col-xs-12 col-sm-4">
            <form class="form-horizontal">
                <div class="form-group">
                    <input class="form-control" type="select" name="country" placeholder="Country">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="address" placeholder="Address">
                </div>
                <div class="form-group">
                    <div class="col-xs-6" style="padding-left:0px;">
                        <input class="form-control" type="text" name="city" placeholder="City">
                    </div>
                    <div class="col-xs-3">
                        <input class="form-control" type="select" name="state/region" placeholder="State/Region">
                    </div>
                    <div class="col-xs-3" style="padding-right:0px;">
                        <input class="form-control" type="text" name="zipcode" placeholder="Zip">
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="cardnumber" placeholder="Credit Card Number">
                </div>
                <div class="form-group">
                    <div class="col-xs-8" style="padding-left:0px;">
                        <input class="form-control" type="text" name="nameoncard" placeholder="Name on Card">
                    </div>
                    <div class="col-xs-4" style="padding-right:0px;">
                        <input class="form-control" type="text" name="expirationdate" placeholder="Expiration Date">
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="termsAndConditions"><a href="#">I agree to the Tearsheets.io terms and conditions</a>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input class="btn btn-default col-xs-6" type="submit" value="Sign up for free">
                    <div data-width="150" data-height="30" id="my-signin2"></div>
                    <a href="#signInModal">or Sign In</a>
                </div>
            </form>
        </div>
        <div class="not-logged-in-free col-sm-push-2 col-xs-12 col-sm-4">
            <form class="form-horizontal">
                <div class="form-group">
                    <input class="form-control" type="text" name="fullname" placeholder="Full Name">
                </div>
                <div class="form-group">
                <div class="col-xs-6" style="padding-left:0px;">
                    <input class="form-control" type="email" name="email" placeholder="Email">
                </div>
                <div class="col-xs-6" style="padding-right:0px;">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
                </div>
                <div class="form-group">
                    <div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="termsAndConditions"><a href="#">I agree to the Tearsheets.io terms and conditions</a>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input class="btn btn-default col-xs-6" type="submit" value="Sign up for free">
                    <div data-width="150" data-height="30" id="my-signin2"></div>
                    <a href="#signInModal">or Sign In</a>
                </div>
            </form>
        </div>
    </div>
    <div class="container">
        <h2 class="text-center">3. Profit $$</h2>
        <button class="btn btn-default">Preview</button>
    </div>
</div>
<script>
    function onSuccess(googleUser) {
    console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
    }
    function onFailure(error) {
    console.log(error);
    }
    function renderButton() {
    gapi.signin2.render('my-signin2', {
        'scope': 'profile email',
        'width': 150,
        'height': 35,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSuccess,
        'onfailure': onFailure
    });
    }
</script>