<div class="container-fluid">
    <div class="container">
        <h2 class="text-center">1. Files</h2>
        <button class="btn btn-default">Download a sample file</button>
        <div class="dragdrop hidden-xs col-sm-12">
            <p>Drag and Drop your tearsheets here or click to open from your desktop</p>
        </div>
    </div>
    <div class="container">
        <h2 class="text-center">2. Customization</h2>
        <div class="container">
            <div class="col-xs-12 col-sm-4">
                <button class="btn btn-default col-xs-12">Free</button>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. 
                Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                </p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <button class="btn btn-default col-xs-12">Basic</button>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. 
                Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                </p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <button class="btn btn-default col-xs-12">Professional</button>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. 
                Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                </p>
            </div>
        </div>
        <div class="col-sm-push-4 col-xs-12 col-sm-4">
            <form class="form-horizontal">
                <div class="form-group">
                    <input class="form-control" type="text" name="fullname" placeholder="Full Name">
                </div>
                <div class="form-group">
                    <div class="col-sm-6" style="padding-left:0px;">
                        <input class="form-control" type="email" name="email" placeholder="Email">
                    </div>
                    <div class="col-sm-6" style="padding-right:0px;">
                        <input class="form-control" type="password" name="password" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="termsAndConditions"><p>I agree to the Tearsheets.io terms and conditions</p>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input class="btn btn-default col-sm-12" type="submit" value="Sign up for free">
                </div>
                <p class="col-sm-12 text-center">or</p>
                <div class="form-group">
                    <input class="btn btn-default col-sm-12" type="sumbit" value="Sign up for free with Google">
                </div>
            </form>
        </div>
    </div>
    <div class="container">
        <h2 class="text-center">3. Profit $$</h2>
        <button class="btn btn-default">Preview</button>
    </div>
</div>
    
    