<div class="container-fluid">
    <div class="container">
        <div class="col-xs-12 col-sm-6">
            <h1>Create data driven beautiful fact sheets simply</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Aenean euismod bibendum laoreet. 
                Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. 
            </p>
        </div>
        <div class="hidden-xs col-sm-6">
            <form class="form-horizontal">
                <div class="form-group">
                    <input class="form-control" type="text" name="fullname" placeholder="Full Name">
                </div>
                <div class="form-group">
                <div class="col-sm-6" style="padding-left:0px;">
                    <input class="form-control" type="email" name="email" placeholder="Email">
                </div>
                <div class="col-sm-6" style="padding-right:0px;">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
                </div>
                <div class="form-group">
                    <div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="termsAndConditions"><p>I agree to the Tearsheets.io terms and conditions</p>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input class="btn btn-default col-sm-12" type="submit" value="Sign up for free">
                </div>
                <p class="col-sm-12 text-center">or</p>
                <div class="form-group">
                    <input class="btn btn-default col-sm-12" type="sumbit" value="Sign up for free with Google">
                </div>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="stepdemo col-xs-12 col-sm-4">
            <h1>Step 1: Data</h1>
            <img src="http://d2t44wh9rnwl5y.cloudfront.net/gsc/4CTG6V/29/4f/f5/294ff59c38794ab0b18de932927396d8/images/home/u27.png?token=c28ab60b830ea7fa1b17a1521d5b02b0"/>
        </div>
        <div class="stepdemo col-xs-12 col-sm-4">
            <h1>Step 1: Data</h1>
            <img src="http://d2t44wh9rnwl5y.cloudfront.net/gsc/4CTG6V/29/4f/f5/294ff59c38794ab0b18de932927396d8/images/home/u47.png?token=e0a7593104bed9984feb8b072fbd33db"/>
        </div>
        <div class="stepdemo col-xs-12 col-sm-4">
            <h1>Step 1: Data</h1>
            <img src="http://d2t44wh9rnwl5y.cloudfront.net/gsc/4CTG6V/29/4f/f5/294ff59c38794ab0b18de932927396d8/images/home/u53.png?token=60675f25bd8eb385a1127fd2afb10fd4"/>
        </div>
    </div>
</div>
