<div class="container">
    <div class="container">
        <div class="container col-xs-12">
            <img class="img-responsive img-center" src="/img/avatar.jpg">
        </div>
        <a class="col-xs-12 text-center" href=#>Change</a>
        <h3 class="text-center">Example Name</h3>
    </div>
    <div class="container">
        <div class="setting-row">
            <h3>Name:</h3>
            <p>Example Name</p>
            <a href="#">Change</a>
        </div>
        <div class="setting-row">
            <h3>Email:</h3>
            <p>example@email.com</p>
            <a href="#">Change</a>
        </div>
        <div class="setting-row">
            <a href="#">Change Password</a>
        </div>
        <div class="setting-row">
            <h3>Display Plan Level Here</h3>
            <a href="#">Upgrade</a>
        </div>
    </div>
</div>