<div class="container-fluid">
    <div class="container">
        <h2 class="text-center">1. Files</h2>
        <button class="btn btn-default">Download a sample file</button>
        <div class="dragdrop hidden-xs col-sm-12">
            <p></p>
        </div>
    </div>
    <div class="container">
        <h2 class="text-center">2. Customization</h2>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <button class="btn btn-default col-xs-12">Free</button>
                    <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. 
                    Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                    </p>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <button class="btn btn-default col-xs-12">Basic</button>
                    <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. 
                    Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                    </p>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <button class="btn btn-default col-xs-12">Professional</button>
                    <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. 
                    Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-push-1 col-xs-2">
                    <img src="http://d26uhratvi024l.cloudfront.net/gsc/4CTG6V/29/4f/f5/294ff59c38794ab0b18de932927396d8/images/signed_in/u56.png?token=d75d0f177731f146bbdb0dbf08938b68">
                </div>
                <div class="col-xs-push-1 col-xs-2">
                    <img src="http://d26uhratvi024l.cloudfront.net/gsc/4CTG6V/29/4f/f5/294ff59c38794ab0b18de932927396d8/images/signed_in/u56.png?token=d75d0f177731f146bbdb0dbf08938b68">
                </div>
                <div class="col-xs-push-1 col-xs-2">
                    <img src="http://d26uhratvi024l.cloudfront.net/gsc/4CTG6V/29/4f/f5/294ff59c38794ab0b18de932927396d8/images/signed_in/u56.png?token=d75d0f177731f146bbdb0dbf08938b68">
                </div>
                <div class="col-xs-push-1 col-xs-2">
                    <img src="http://d26uhratvi024l.cloudfront.net/gsc/4CTG6V/29/4f/f5/294ff59c38794ab0b18de932927396d8/images/signed_in/u56.png?token=d75d0f177731f146bbdb0dbf08938b68">
                </div>
                <div class="col-xs-push-1 col-xs-2">
                    <img src="http://d26uhratvi024l.cloudfront.net/gsc/4CTG6V/29/4f/f5/294ff59c38794ab0b18de932927396d8/images/signed_in/u56.png?token=d75d0f177731f146bbdb0dbf08938b68">
                </div>
            </div>
            <a href="#" class="text-center col-xs-12">Get a custom layout!</a>
        </div>
    </div>
    <div class="container">
        <h2 class="text-center">3. Profit $$</h2>
        <button class="btn btn-default">Preview</button>
    </div>
</div>