@font-face {
  font-family: 'AlternateGothicNo2';
  src: url('/fonts/alternate-gothic-no2-bt-webfont.eot'); /* IE9 Compat Modes */
  src: url('/fonts/alternate-gothic-no2-bt-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/alternate-gothic-no2-bt-webfont.woff') format('woff'), /* Super Modern Browsers */
  url('/fonts/alternate-gothic-no2-bt-webfont.woff') format('woff'), /* Pretty Modern Browsers */
  url('/fonts/alternate-gothic-no2-bt-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('/fonts/alternate-gothic-no2-bt-webfont.svg#AlternateGothic') format('svg'); /* Legacy iOS */
}

.h1, .h2, .h3, h1, h2, h3 {
    margin:0px;
}
